.desktopNavigationWrapper {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    background-color: lightgrey;
    text-align: center;
    color: black;
    position: sticky;
}

.navigationLogotype1 {
    height: 50px;
    padding-left: 20px;
}

.navigationLogotype2 {
    width: 50px;
    grid-column: 20/20;
}

.desktopNavigationTabs {
    grid-column: 5/15;
    align-items: center;
}
.profile {
    grid-column: 18/20;
}

.signInButton {
    display: inline;
    cursor: pointer;
    color: white;
    font-weight: 1000;
    font-family: 'Roboto', sans-serif;
    padding: 7%;
    transition: 0.2s;
    align-self: center;
}
