
.ulTabsWrapper {
    list-style-type: none;
}

.liTabs {
    display: inline;
    cursor: pointer;
    color: #202020;
    font-weight: 1000;
    font-family: 'Roboto', sans-serif;
    padding: 5%;
    transition: 0.2s;
}

.liTabs:hover {
    font-size: 1.1rem;
    transition: 0.3s;
}