.addWrapper {
    display: flex;
    width: 150px;
    height: 150px;
    border-color: lightgreen;
    border-style: solid;
}

.addButton {
    display: flex;
    height: 24px;
    width: 30px;
    background: white;
    border-color: lightgreen;
    border-style: dotted;
    justify-content: space-around;
    padding: 0;
    margin: auto;
    cursor: pointer;

}


.addButton_Line1 {
    height: 20px;
    width: 2px;
    background-color: lightgreen;
    Z-index: 1;
}

.addButton_Line2 {
    height: 22px;
    width: 2px;
    background-color: lightgreen;
    transform: rotate(90deg);
    Z-index: 2;
}