
.navbar {
    display: flex;
    align-items: center;
    margin:0 auto;
    max-width: 600px;
    border-bottom: 1px solid black;

}
.navbar .links {
    color: black;
    font-size: 22px;
}

.navbar a {
    margin-left: 16px;
    text-decoration: none;
    color: inherit;
    cursor: default;
}