.desktopNavigationWrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background-color: darkgreen;
    padding-top: 20px;
}

.navigationLogotype {
    width: 90px;
}

.span {
    cursor: pointer;
}