.desktopNavigationWrapper {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    background-color: lightgrey;
    text-align: center;
    color: black;
    position: absolute;
}

.navigationLogotype1 {
    height: 50px;
    padding-left: 20px;
}

.navigationLogotype2 {
    width: 50px;
    grid-column: 20/20;
}

.desktopNavigationTabs {
    grid-column: 5/15;
    align-items: center;
}
.profile {
    grid-column: 18/20;
}