 .side-drawer {
    height: 100%;
    background: white;
    box-shadow: 1px 0pc 7pc rgba(0,0,0,0.5);
    top: 0;
    left: 0;
    width: 70%;
    max-width: 400px;
    z-index: 100;
    transform: translateX(-100%);
    transition: 0.3s ease-in-out;
    position: absolute;
}

 .side-drawer.open {
    transform: translateX(0)
 }

 .sidebarButton {
   display: flex;
   justify-content: space-around;
   flex-direction: column;
   height: 24px;
   width: 30px;
   background: transparent;

 }

 .sidebarMenu {
    display: block;
    text-align: left;
    color: black;
    cursor: pointer;
    background-color: darkgreen;

 }

