
.homeWrapper {

    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 10px;
    margin:0 auto;
    padding-top: 20px;
    grid-template-areas:
    '. . AddButton AddButton . . . . . .'
    '. . . . . . . . . .'
    '. . . . . . . . . .';
}

.homeWrapper .one {
    grid-area: one;
}
.homeWrapper .two {
    grid-area: two;

}
.homeWrapper .three {
    grid-area: three;

}
