 .side-drawer {
    height: 100%;
    background: #E4E8DA;
    box-shadow: 1px 0pc 7pc rgba(0,0,0,0.5);
    top: 0;
    left: 0;
    width: 70%;
    max-width: 400px;
    z-index: 100;
    transform: translateX(-100%);
    transition: 0.3s ease-in-out;
    position: fixed;
}

 .side-drawer.open {
    transform: translateX(0)
 }

 .sidebarButton {
   display: flex;
   justify-content: space-around;
   flex-direction: column;
   padding: 0;
   height: 24px;
   width: 30px;
   background: transparent;
   border: none;

 }

 .sidebarButtonClose1 {
   height: 25px;
   width: 2px;
   margin-left: 12px;
   background-color: black;
   transform: rotate(45deg);
   Z-index: 1;
 }

 .sidebarButtonClose2 {
   height: 25px;
   width: 2px;
   background-color: black;
   transform: rotate(90deg);
   Z-index: 2;
 }

 .sidebarMenu {
    display: block;
    text-align: left;
    color: #202020;
    cursor: pointer;
    background-color: #E4E8DA;
    list-style-type: none;
    padding: 10px;
 }

 .sidebarLiTags {
   padding-bottom: 15px;
   padding-top: 15px;
   border-top: solid 1px;
 }
